<%content_for :head do%>
	<%= stylesheet_link_tag "admin/paginate" %>
<%end%>

<%content_for :content do%>

	<div class="headerModulo">Transportadoras - Pesquisar</div>

	<div class="barraFerramentaModulo">
	    <div class="barraFerramentaModuloComplemento">
	        <div class="botao"><div><span class="btPesquisar" style="padding-left: 20px;"><a href="javascript:pesquisar();">Pesquisar</a></span></div></div>
	        <div class="separador"></div>
	        <div class="botao"><div><span class="btAdicionar" style="padding-left: 20px;"><%=link_to "Incluir nova Transportadora", new_carrier_path %></span></div></div>
	        <div class="separador"></div>
	        <div class="botao"><div><span class="btConfirmacao" style="padding-left: 20px;"><a href="javascript:selecionarTodos('.itemDatagrid');">Marcar/desmarcar todos</a></span></div></div>
	        <div class="separador"></div>
	        <div class="botao"><div><span class="btCancelar" style="padding-left: 20px;"><a href="javascript:excluirItensSelecionados('#formDelete','.itemDatagrid');">Excluir selecionados</a></span></div></div>
	    </div>
	</div>

	<br />	

	<div class="filtros" style="display: block;">
		<% form_tag(carriers_path, :method => :get, :id => "formFilter") do %>
      <fieldset>
        <span class="Transportadora">
          <label class="preField" for="name">Buscar por:</label>
          <%= text_field_tag :search, params[:search], :class => "caixa_texto", :size => "50" %>
        </span>
      </fieldset>

      <fieldset class="opcoes">
          <label class="preField" for="order">Ordenar por:</label>

          <%= select_options_tag("order", [["id","id"],["nome","name"],["Cnpj/Cpf","cnpj_cpf"],["data de criação","created_at"]], :value => params[:order]) %>
          <%= select_options_tag("orderDirect", [["crescente","asc"],["decrescente","desc"]], :value => params[:orderDirect]) %>

          <label style="margin-left: 4px;" class="noblock" for="quantidadeRegistros">Quantidade de registros por página:</label>
          <%= select_options_tag("per_page", [["1"],["10"],["20"],["30"]], :value => params[:per_page]) %>
      </fieldset>
		<% end %>
	</div>

	<br>
	
	<% if @carriers.size > 0 %>
	
		<%= page_entries_info(@carriers, :entry_name=>"Transportadoras") %>
	
		<br><br>
	
		<% form_tag(carrier_path(0), :method => :delete, :id=>"formDelete") do %>
	
			<table class="datagrid">

				<tr class="header">
			    <th class="alinCentro" style="width:30px"> </th>
					<th class="alinCentro" style="width:40px">#</th>
					<th class="acarriersquerda">Nome</th>
					<th class="acarriersquerda">Cnpj/Cpf</th>					
					<th class="alinCentro" style="width:80px">Ações</th>
				</tr>	

				<% @carriers.each do |carrier| %>					<tr>
						<td class="alinCentro"><%= check_box_tag 'filters[]', carrier.id, false, {:class=>"itemDatagrid"} %></td>
						<td class="alinCentro"><%= link_to carrier.id, edit_carrier_path(carrier) %></td>
						<td class="acarriersquerda"><%= link_to carrier.name, edit_carrier_path(carrier) %></td>
						<td class="alinCentro"><%= link_to carrier.cnpj_cpf, edit_carrier_path(carrier) %></td>
						<td class="alinCentro" nowrap>&nbsp;
							<%= link_to "&nbsp;", edit_carrier_path(carrier), :class=>"botaoDatagrid alterar", :alt=>"editar", :title=>"editar" %>
							<%= link_to("&nbsp;", carrier_path(carrier), :method=>"delete", :confirm=>"Deseja realmente excluir o registro?", :class=>"botaoDatagrid excluir", :alt=>"excluir", :title=>"excluir" ) %>
						</td>
					</tr>
			
				<% end %>

			</table>
		
		<% end %>
	
		<br>

		<%= will_paginate @carriers, :prev_label => "Anterior", :next_label => "Próximo"%>
	<%else%>
		<span class="zero_size"> Nenhum registro encontrado. </span>
	<%end%>

<%end%>
