<tr>
	<td class="alinCentro"><%= f.text_field :name, :size=>20 %></td>
	<td class="alinCentro"><%= f.text_field :phone, :size=>20 %></td>
	<td class="alinCentro"><%= f.text_field :cpf, :size=>20 %></td>
	<td class="alinCentro"><%= f.text_field :email, :size=>20 %></td>	
	<td class="alinCentro">
    <%= remove_link_unless_new_record(f) %>
	</td>
</tr>
