<%content_for :head do%>
	<%= stylesheet_link_tag "admin/paginate" %>
<%end%>

<%content_for :content do%>

	<div class="headerModulo">Tabelas de preços - Pesquisar</div>

	<div class="barraFerramentaModulo">
	    <div class="barraFerramentaModuloComplemento">
	        <div class="botao"><div><span class="btPesquisar" style="padding-left: 20px;"><a href="javascript:pesquisar();">Pesquisar</a></span></div></div>
	        <div class="separador"></div>
	        <div class="botao"><div><span class="btAdicionar" style="padding-left: 20px;"><%=link_to "Incluir nova Tabelas de preço", new_price_list_path %></span></div></div>
	        <div class="separador"></div>
	        <div class="botao"><div><span class="btConfirmacao" style="padding-left: 20px;"><a href="javascript:selecionarTodos('.itemDatagrid');">Marcar/desmarcar todos</a></span></div></div>
	        <div class="separador"></div>
	        <div class="botao"><div><span class="btCancelar" style="padding-left: 20px;"><a href="javascript:excluirItensSelecionados('#formDelete','.itemDatagrid');">Excluir selecionados</a></span></div></div>
	    </div>    	
	</div>

	<br />	

	<div class="filtros" style="display: block;">
		<% form_tag(price_lists_path, :method => :get, :id => "formFilter") do %>
      <fieldset>
        <span class="Tabelas de preço">
          <label class="preField" for="name">Buscar por:</label>
          <%= text_field_tag :search, params[:search], :class => "caixa_texto", :size => "50" %>
        </span>
      </fieldset>

      <fieldset class="opcoes">
          <label class="preField" for="order">Ordenar por:</label>

          <%= select_options_tag("order", [["id","id"],["nome","name"],["mês","mounth"],["ano","year"],["data de criação","created_at"]], :value => params[:order]) %>
          <%= select_options_tag("orderDirect", [["crescente","asc"],["decrescente","desc"]], :value => params[:orderDirect]) %>

          <label style="margin-left: 4px;" class="noblock" for="quantidadeRegistros">Quantidade de registros por página:</label>
          <%= select_options_tag("per_page", [["1"],["10"],["20"],["30"]], :value => params[:per_page]) %>
      </fieldset>
		<% end %>
	</div>

	<br>
	
	<% if @price_lists.size > 0 %>
	
		<%= page_entries_info(@price_lists, :entry_name=>"Tabelas de preços") %>
	
		<br><br>
	
		<% form_tag(price_list_path(0), :method => :delete, :id=>"formDelete") do %>
	
			<table class="datagrid">

				<tr class="header">
			    <th class="alinCentro" style="width:30px"> </th>
					<th class="alinCentro" style="width:40px">#</th>
					<th class="aprice_listsquerda">Nome</th>
					<th class="aprice_listsquerda">Mês</th>
					<th class="aprice_listsquerda">Ano</th>
					<th class="alinCentro" style="width:80px">Ações</th>
				</tr>	

				<% @price_lists.each do |price_list| %>

					<tr>
						<td class="alinCentro"><%= check_box_tag 'filters[]', price_list.id, false, {:class=>"itemDatagrid"} %></td>
						<td class="alinCentro"><%= link_to price_list.id, edit_price_list_path(price_list) %></td>
						<td class="aprice_listsquerda"><%= link_to price_list.name, edit_price_list_path(price_list) %></td>
						<td class="aprice_listsquerda"><%= link_to price_list.mounth, edit_price_list_path(price_list) %></td>
						<td class="aprice_listsquerda"><%= link_to price_list.year, edit_price_list_path(price_list) %></td>
						<td class="alinCentro" nowrap>&nbsp;
							<%= link_to "&nbsp;", edit_price_list_path(price_list), :class=>"botaoDatagrid alterar", :alt=>"editar", :title=>"editar" %>
							<%= link_to("&nbsp;", price_list_path(price_list), :method=>"delete", :confirm=>"Deseja realmente excluir o registro?", :class=>"botaoDatagrid excluir", :alt=>"excluir", :title=>"excluir" ) %>
						</td>
					</tr>
			
				<% end %>

			</table>
		
		<% end %>
	
		<br>

		<%= will_paginate @price_lists, :prev_label => "Anterior", :next_label => "Próximo"%>
	<%else%>
		<span class="zero_size"> Nenhum registro encontrado. </span>
	<%end%>

<%end%>
